.container-fluid {
  background-color: #fa7921;
  height: 100vh;
}

a {
  color: #191923;
}

#logoRow {
  color: white;
  font-family: "Bowlby One SC", cursive;
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 10px;
}

#aboutRow {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#signLogRow {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

#filterRow {
  background-color: #fe9920;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  font-size: 20px;
}

.btmMrgn {
  margin-bottom: 20px;
}

.gameColumn {
  padding-top: 70px;
}

.gameCard {
  background-color: #eeeeee;
  padding: 10px 5px 10px 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 2px solid #191923;
  border-radius: 7px;
  max-width: 500px;
}

#detailRow {
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}
